passwords.txt
backend/.env
frontend/.env
backend/server.log
backend/server-error.log
frontend/vite.log
frontend/vite-error.log
frontend/build_err.txt
frontend/build_error_log.txt
frontend/build_out_ascii.txt
frontend/build_output.txt
frontend/build_output2.txt
backend/app/__pycache__/
backend/app/core/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/
backend/app/schemas/__pycache__/
backend/app/utils/__pycache__/
